/* .fcc{
  text-decoration:line-through;
  color: darkblue;
}

.fcc:hover{
  background-color: silver;
  text-decoration: none;
  border-radius: 2px;
} */

/* .story{
text-align: center;
padding: 19vw;
padding-top: 2vh;
} */

.abt{
  padding-bottom: 3vh;
}
.number{
  text-decoration: none;
  color: silver;
}
.number:hover{
  color: green;
}

.mail{
  text-decoration: none;
  color: silver;
}

.mail:hover{
  color: red;
}

.twit{
  text-decoration: none;
  color: silver;
}

.twit:hover{
  color: #018ABE;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20vw;
  padding-bottom: 10vh;
}

.tech, .list{
  display: flex;
}




/* .ft{
  padding-bottom: 2.5vh;
  display: flex;
  justify-content: center;
  gap: 65vw;
  z-index: 1;
  position: sticky;
  bottom: 0;
} */


@media all and (min-width: 320px){
  /* .header{
    gap: 75vw;
    position: sticky;
  } */
  
  .center{
    padding: 70px 0;
    /* padding-top: 10vh; */
    text-align: center;
    /* color: red; */
  }
/* 
  .footer{
    position:sticky;
    gap: 75vw;
    
  } */
}

@media all and (min-width: 481px){
  /* .header{
    position: sticky;
    gap: 77vw;
  } */

  .center{
    padding: 70px 0;
    text-align: center;
    /* color: red; */
  }
/* 
  .ft{
    position:sticky;
    gap: 83vw;
    
  } */

}

@media all and (min-width: 769px){
  /* .header{
    position: sticky;
    gap: 87vw;
  } */

  .center{
    padding: 70px 0;
    text-align: center;
  }
  /* .footer{
    position:sticky;
    gap: 87vw;
  } */

}

@media all and (min-width: 1025px){
  /* .header{
    position: sticky;
    gap: 95vw;
  } */
  
  .center{
    padding: 70px 0;
    text-align: center;
    
  }
  /* .footer{
    position:sticky;
    gap: 95vw;
  } */

} 
