.hr{
  color: silver;
  background-color: silver;
  border: 0;
  width: 96%;
  height: 0.5px;
}

.content{
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 10vh;
}

.bet{
  text-align: center;
  color: green;
  padding-bottom: 3vh;

}

.climate{
  padding: 0 19vw;
  text-align: center;
  position: relative;
}

.heat{
  height: 200px;
  width: 150px;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.tfs{
  text-decoration: none;
  color: green;

}


.t, .w{
  color: green;
}

.c{
 padding-left: 10px;
}

.c span, .yr{
 font-size: 10px;
}

.tree, .l, .yr{
  display:flex;
  padding-right: 4vw;
  flex-wrap: nowrap;
}

.l{
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: flex-start;
  width: 50vw;
}

.tree{
  width: 30vw;
}

.change{
  text-decoration: none;
  color: red;
}

.gift{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foot{
  padding-bottom: 2.5vh;
  display: flex;
  justify-content: center;
  gap: 65vw;
  z-index: 1;
  position: sticky;
  bottom: 0;
}


@media all and (min-width: 320px){
  .header{
    gap: 60vw;
    position: sticky;
  }
  
  .content{
    /* color: red; */
    text-align: center;
  }

  .c{
    width: 60vw;
    margin-left: 20vw;
  }

  .foot{
    position:sticky;
    gap: 68vw;
    
  }
}

@media all and (min-width: 481px){
  .header{
    position: sticky;
    gap: 77vw;
  }

  .content{
    text-align: center;
    /* color: red; */
  }

  .c{
    width: 60vw;
    margin-left: 20vw;
  }

  .foot{
    position:sticky;
    gap: 83vw;
    
  }

}

@media all and (min-width: 769px){
  .header{
    position: sticky;
    gap: 87vw;
  }

  .center{
    padding: 70px 0;
    text-align: center;
  }

  .c{
    width: 60vw;
    margin-left: 20vw;
  }

  .foot{
    position:sticky;
    gap: 87vw;
  }

}

@media all and (min-width: 1025px){
  .header{
    position: sticky;
    gap: 95vw;
  }
  
  .center{
    padding: 70px 0;
    text-align: center;
  }

  .c{
    width: 60vw;
    margin-left: 20vw;
  }
  
  .foot{
    position:sticky;
    gap: 95vw;
  }

} 
