.image{
  height: 150px;
  width: 110px;
  border-radius: 2px;
  position: absolute;
  top: 44%;
  left: 77%;
  transform: translate(-50%, -50%);
}

.img{
  height: 50px;
  /* width: 100px; */
  border-radius: 2px;
  position: absolute;
  top: 44%;
  left: 77%;
  transform: translate(-50%, -50%);
}

.b:hover{
  color: black;
  background-color: silver;
  border-radius: 1px;
}

.project{
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* padding-top: 2vh; */
  /* padding-left: 20vw; */
}

button{
  background-color: transparent;
  color: silver;
  border: none;
  cursor: pointer;
  /* font-style:italic; */
}


.header{
  display: flex;
  flex-direction: row;
  /* gap: 60vw; */
  /* z-index: 1; */
  /* position: sticky; */
  /* top: 0; */
  /* background: red; */
}


/* .ftr{
  padding-bottom: 2.5vh;
  display: flex;
  justify-content: center;
  gap: 65vw;
  z-index: 1;
  position: sticky;
  bottom: 0;
  padding-bottom: 8px;
} */


@media all and (min-width: 320px){
  /* .header{
    gap: 75vw;
    position: sticky;
  } */

  /* .ftr{
    position:sticky;
    gap: 75vw;
    
  } */
}

@media all and (min-width: 481px){
  /* .header{
    position: sticky;
    gap: 83vw;
  } */


  .image{
    height: 250px;
    width: 200px;
    border-radius: 2px;
    position: absolute;
    top: 60%;
    left: 66%;
    transform: translate(-50%, -50%);
  }

  .img{
    height: 150px;
    width: 250px;
    border-radius: 2px;
    position: absolute;
    top: 44%;
    left: 66%;
    transform: translate(-50%, -50%);
  }

  /* .ftr{
    position:sticky;
    gap: 83vw;
    
  } */

}

@media all and (min-width: 769px){
  /* .header{
    position: sticky;
    gap: 87vw;
  } */

  /* .project{
    background-color: red;
  } */

  /* .ftr{
    position:sticky;
    gap: 87vw;
  } */

}

@media all and (min-width: 1025px){
  /* .header{
    position: sticky;
    gap: 95vw;
  } */
  
/* 
  .ftr{
    position:sticky;
    gap: 95vw;
  } */

} 
